/* Override this file to customise the theme's CSS for your site */

/* Hit article tags that are immediate siblings of other article tags. Idea is
   for list of article summaries, like on main page */
article + article {
    margin-top: 2rem;
}

.page {
    max-width: 80rem;
}

.aside__images img {
    max-width: 60px;
}

video {
    max-width: 100%;
}
